*{
    box-sizing: border-box;
}


/* 
.form{
    width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    background-color: palevioletred;
}
.form > button{
    font-size: 25px;
    width: 300px;
    cursor: pointer;
    color: white;
    text-align: center;
    margin: 78px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
    background-color: rgb(64, 61, 238);
}
button:active{
    background-color: rgb(177, 201, 42);
    color: brown;
} */



/* #mybutton{
    width: 300px;
    height: 100px;
    background-color: rgb(34, 219, 111);
    text-align: center;
    line-height: 4;
    color: aliceblue;
    font-size: 25px;
}
#mybutton:active{
    background-color: aqua;
    color: red;
}
#kub{
    width: 300px;
    height: 300px;
    border: 2px solid black;
} */


/* #bl{
    width: 280px;
    height: 280px;
    margin-top: 10px;
}
img{
    width: 100%;
    height: 100%;
} */